.custom-radiobutton {
    border-radius: 5px;
    padding-left : 10%;
    cursor: pointer;
    background-color: #F5C400;
}

.transicion-votacion {
    background-color: #F5C400;
    animation-name: transicionVotacion;
    animation-duration: 6s;
    border-radius: 15px;

}
@keyframes transicionVotacion {
    from {background-color: #001840;}
    to {background-color: #F5C400;}
}